.parent {
       display: grid;
       grid-template-rows: repeat(3, 200px);
       grid-template-columns: repeat(3, auto);
       gap: 10px;

}

.image {
       height: 150px;
       width: 400px;
       border-radius: 0px 0px 0 0;
}

.child1 {



align-items: center;
border-color: aqua;


       grid-row: 1/2;
       grid-column: 1/3;

}

.child2 {
       background-color: aquamarine;
}

.child3 {
       background-color: brown;
       grid-row: 2/4;

}

.child4 {
       background-color: bisque;
}

.child5 {
       background-color: yellow;


}

.child6 {
       background-color: palevioletred;
       grid-column: 2/4;
}